:root {
    --primary: #5d44f8;       /* Roxo principal*/
    --bg-body: #111827;      /* Fundo escuro da página */
    --bg-card: #1f2937;      /* Fundo dos cards e do header */
    --white: #ffffff;        /* Texto principal */
    --text-muted: #b1b7c5;   /* Texto secundário*/
    --border: #374151;       /* Cor das bordas finas */
}

body {
    background-color: var(--bg-body);
    color: var(--white);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px; 
}

main.container {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Header e Logo */
.header { 
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border);
    padding: 1% 0;  
    width: 100%;
    display: block; 
}

.header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.btn-register {
    background: var(--primary); 
    color: rgb(255, 255, 255); 
    border: none;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: 100;
    align-items: center;
}

.logo-area { 
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

.logo-area h1{
    margin: 0;
    line-height: 1.2;
}

.logo-area p{
    margin: 0%;
    color: var(--text-muted);
    font-size: 0.9rem;
}

.icon-box { 
    color: white; 
    padding: 0px; 
    border-radius: 0px; 
    font-weight: bold;
}

/* Tabs */
.tabs { display: flex; 
    gap: 8px; 
    margin: 20px 0; 
}

.tab {
    padding: 12px 24px;
    font-size: 16px;
    border: 1px solid var(--border); 
    background: #1f2937;            
    color: var(--text-muted);       
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.tab.active { 
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

/* Botão Nova Tarefa */
.btn-new {
    background: var(--primary); 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: 100;
}

.btn-check-task {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}