/* Grade de Estatísticas */
.stats-grid {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 800px;
}

.stat-card {
    background-color: var(--bg-card);
    color: var(--white);
    flex: 1; 
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-info h2 { 
    font-size: 28px; 
    margin: 5px 0 0 0; 
}

.stat-info span { 
    color: #c2b6b6; 
    font-size: 14px; 
}

.stat-icon {
    font-size: 20px;
    opacity: 0.8;
}

.icon-green { color: #28a745; }

/* Sessão de Tarefas */
.tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.task-header i {
    margin-top: 2px;
}

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 15px;
}

.task-card {
    background-color: var(--bg-card);
    color: var(--white);
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-card h3 {
    font-size: 15px; 
    margin: 0;
    color: var(--white);
    font-weight: 600;
}

.task-card p{
    font-size: 13px;
    color: var(--text-muted);
    margin: 4px 0;
    line-height: 1.4;
}

.task-top { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.task-title-group { 
    display: flex;
    align-items: center; 
    gap: 12px;
}

.task-actions { 
    position: absolute;
    top: 12px;
    right: 12px;
    gap: 2px;           
    align-items: center;
}

.task-actions button {
    background: transparent !important;
    border: none !important;        
    padding: 2px !important;              
    cursor: pointer;
    color: #9ca3af;          
}

.task-actions button i {
    font-size: 14px;
}

.task-desc { 
    color: #666; 
    font-size: 14px; 
    margin: 15px 0; 
    line-height: 1.4; 
}

.task-date { 
    color: #4b5563;
    font-size: 11px; 
}


/* PADRAO PENDENTE CHECK TASK */

.status-badge {
    display: inline-block !important; 
    border-radius: 20px !important;  
    padding: 2px 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    transition: all 0.3s ease;
}

.badge-pendente {
    background: #374151;
    color: #9ca3af;
}

.task-check {
    font-size: 20px;
    color: #4b5563; 
    transition: all 0.2s ease;
}

/* CHECK CONCLUIDO */

.task-card.completed .task-check {
    color: #28a745;
}   

.task-card.completed .badge-status {
    background: #e8f5e9 !important;   
    color: #28a745 !important; 
}

/* Prioridade badge*/

.priority-badge {
    background: #374151;
    color: #9ca3af;
    display: inline-block !important; 
    border-radius: 20px !important;  
    padding: 2px 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}